@font-face {
  font-family: comic-relief;
  src: url(comicrelief.ttf);
}

body{
    background: url("space.gif");
    font-family: comic-relief;
    color: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
}

h1{
    text-align: center;
}

h2{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: #8a2be2;
    transition: 0.3s ease-in-out;
}

a:hover{
    color: #ffffff;
}

img{
  margin-right: 10px;
  margin-bottom: 10px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.frame{
    background-color: rgba(128, 0, 255, 0.2);
    border-radius: 10px;
}

.pixel{
    image-rendering: pixelated;
}

.card{
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.back{
    text-align: center;
    font-size: 20px;
}