---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    
        <h1>Blog</h1>
        <img class="center" src="postbox.gif" alt="Post box">
        <hr>
        <h2>28 February 2026</h2>
        <h3>The website is finally published</h3>
        <p>I worked on this website the whole month. The development of this website started on first day of February.
        <br>Before that I was learning web development and experimenting with it at January.</p>
        <p class="back"><a href="index.html">Back</a></p>
</Layout>
