---
import "../styles/global.css";
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Yarix Web</title>
        <link rel="icon" href="icon.png">
    </head>
    <body>
		<slot />
    </body>
</html>